ipython
jupyter
ipyleaflet
scrapy
pandas
scikit-learn
geopy
folium
matplotlib
seaborn
geojson
tqdm
tensorflow
flask 
flask-restplus
requests
jsonpickle
opencv-python
Pillow
tensorboard
jupyter-tensorboard
